@font-face {font-family: myFont;src: url(content/fonts/Kobe.otf);}

body {width: 99vw;overflow-x:hidden;}

*{scrollbar-width: none;user-drag: none; user-select: none;-moz-user-select: none;-webkit-user-drag: none;-webkit-user-select: none;-ms-user-select: none;}
*::-webkit-scrollbar { width: 0 !important }
*{ -ms-overflow-style: none;scrollbar-width: none;}

.buttons{padding-left:0.5vw;margin-bottom:0.5vw;padding-bottom:0.5vw;padding-top:0.2vw;border:none;z-index:10;background-color:#fff;top:0;width:100%;}

.filterbutton{border:none;font-size:1.2em;font-family:myFont;margin-right:1em;background-color:transparent;border-bottom:1px solid #000;}
.filterbutton:focus {outline:0;}
.filterbutton:hover {cursor:crosshair;}


.aboutTrigger {border:none;font-size:1.2em;font-family:myFont;margin-right:1em;background-color:transparent;border-bottom:1px solid #000;}
.aboutTrigger:focus {outline:0;}
.aboutTrigger:hover {cursor:crosshair;}


.index{position: relative;visibility: hidden;opacity: 0;display: none;}
.index.active{position: relative;visibility: visible;opacity: 1;z-index: 1;pointer-events: all;display: block;}

.aboutView{position: relative;visibility: hidden;opacity: 0;display: none;}
.aboutView.active{position: relative;visibility: visible;opacity: 1;z-index: 1;pointer-events: all;display: block;}


.img-grid {
  display: flex;
  flex-wrap: wrap;
  z-index:100;
  width:99vw;
}

.box {
  position: relative;
  width: 23.7vw;
  height: calc(114 * (23.7vw) / 176);
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 1.5em;
  text-decoration: none;
  color: #000;
  background-size: contain;
  vertical-align: top;
  display: inline-block;
}

.box:after {
  position: absolute;
  top: 100%; left: 0;
  padding: 0.2em 0.1em 0.2em;
  line-height:1.2;
  font-size:0.9em;
  font-family:myFont;
  content: attr(data-caption);
  display: inline-block;
}

.box:hover {filter:blur(5px);cursor:crosshair;}


.tooltip {
  position:fixed;
  width: 20vw;
  padding: 5px 7px;
  border-radius: 2px;
  font-family: myFont;
  font-size:1em;
  line-height:1;
  display:inline-block;
  text-align: center;
  color: #fff;
  background-color:#1E90FF;
  overflow: hidden;
  z-index:100;
}

.copyrights{
  position: absolute;
  width: 100vw;
  font-family:myFont;
  font-size:0.8em;
  margin-top:0.5em;
  padding-top:0.5em;
  margin-left:0.5em;
  padding-bottom:0.7em;
  margin-bottom:0.7em;
}


/*
@media only screen and (max-width: 500px) {

body {
  overflow-x: hidden!important;
}

.box {
  width: calc(50vw - 8px);
  height: calc(114 * (50vw - 8px) / 176);
}

.box:after {
  position: absolute;
  top: 100%; left: 0;
  padding: 0.1em 0.1em 0.1em;
  line-height:1.2;
  font-size:0.6em;
  font-family:myFont;
  content: attr(data-caption);
  display: inline-block;
}


.buttons{margin-bottom:0.1vw;padding-bottom:0.1vw;border:none;z-index:10;background-color:#fff;top:0;width:100%;padding-bottom:0.3em;}
.aboutTrigger {margin:0;padding:0;padding-right:0.3em;}
..filterbutton{margin:0;padding:0;padding-right:0.3em;}

.copyrights{
  position: absolute;
  width: 100vw;
  font-family:myFont;
  font-size:0.5em;
  margin-top:0.5em;
  padding-top:0.5em;
  margin-left:0.5em;
  padding-bottom:0.7em;
  margin-bottom:0.7em;
}

}*/
